body {
  margin: 0px;
  padding: 0px;
  color: 000;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
}
.container {
  width: 1170px;
  margin: 0 auto;
  color: ;
}
h1 {
  padding: 0;
  margin: 0;
}
.header {
  background: url(/img/header-bg.jpg) no-repeat center top / cover;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
.logo {
  margin-right: 68px;
}
header a {
  color: #FFF;
}
.menu {
  display: flex;
}
.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.menu li {
  margin-right: 40px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: last baseline;
  padding-top: 57px;
}
.tel {
  text-decoration: none;
  font-size: 17px;
  margin-left: auto;
}
.offer {
  margin-top: 321px;
  padding-bottom: 384px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  
}
.offer p {
  font-size: 30px;
}
.offer h1 {
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
}
.button {
  display: block;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  padding: 17px 47px;
  border: 1px solid #FFF;
  width: 238px;
}
h2 {
  font-size: 50px;
  margin-bottom: 58px;
}
h3 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
.article p {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans';
  text-align: justify;
  line-height: 1.62em;
}
.article {
  display: flex;
  justify-content: space-between;
}
.article-left {
  flex: 1;
  padding-right: 40px;
}
.article-right {
  flex: 1;
}